@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --primary-color: #4A4A4A;
    --secondary-color:rgb(170, 103, 131);
    --accent-color: #D1C4E9;
    --background-color: #F5F5F5;
    --text-color: #333333;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

.logo img {
    height: 50px;
    padding: 10px;
}

.navbar-nav .nav-item .nav-link.booking-btn {
    background-color: #A04963; 
    color: #FFE7E7; 
    border: 1px solid #A04963; 
    border-radius: 5px; 
    padding: 5px 15px; 
    text-align: center;
}

/* Hover Effect */
.navbar-nav .nav-item .nav-link.booking-btn:hover {
    background-color: #d45692; 
    border-color: #d45692; 
    color: #fff; 
}

/*Booking Section*/
.booking-section {
    text-align: center;
    padding: 50px 5%;
}

.booking-section h2 {
    margin-bottom: 40px;
    color: var(--primary-color);
    text-align: center;
}

.calendar {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

p {
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
}

.google-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Footer */
footer {
    background-color: #A04963; 
    color: black; /* Keep the text color white for contrast */
    padding: 20px 5%; /* Adjust padding as needed */
    text-align: center; /* Center the text */
    position: relative; /* Change to relative */
    width: 100%; 
    z-index: 100;
    height: auto; /* Allow height to adjust based on content */
}

.footer-content p {
    margin: 0;
    line-height: 1.2;
    color: black;
    font-size: 14px; 
}

.footer-content {
    font-size: 12px; 
    text-align: center; 
    white-space: normal;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.social-links {
    margin: 5px 0;
    color: black; 
}

.social-icon {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Consider implementing a mobile menu */
    }
}
